* {
    box-sizing: border-box;
  }

li {
    list-style: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

.headerText {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 10;
    margin-left: 52px;
    background-color: lightgray;
    width: 331px;
    border-radius: 5px;
    text-align: center;
}

.gallery-image {
    height: 175px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.gallery-item {
    width: 200px;
    height: 300px;
    margin: 10px;
    border: 10px;
    border: 1px solid grey;
    box-shadow: 1px 1px 1px lightblue;
    border-radius: 10px;
}

#description {
    width: 180px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    margin-left: 10px;
}
